<div *ngIf="hero" class="padd">
  <div class="section">
    <div class="section_item item1">
    <img src="{{hero.img [0]}}" alt="photo">
  </div>
    <div class="section_item item2">
    <img src="{{hero.img[1]}}" alt="photo">
  </div>
  </div>
 <div class="text">
  <p>{{hero.name | uppercase}}</p>
   <p> Розмір
     <br>
     {{hero.size}}</p>
   <p>
     {{hero.content }}
   </p>
 </div>

  </div>Windows 7 sometimes breaks FTP connections on Java 7 if firewall is enabled. Command netsh advfirewall set global StatefulFTP disable usually fixes the problem. See more in the issue.


